.mat-toolbar.mat-primary {
  background-color: #fff; /* Primary-50 from default Material blue palette */
  color: black;
}

.title {
  margin-right: 24px;
  color: black;
}

.spacer {
  flex: 1 1 auto;
}

.nav-links {
  display: flex;
  gap: 8px;
  margin-right: 16px;

  a {
    display: flex;
    align-items: center;
    gap: 4px;
    color: black;

    mat-icon {
      font-size: 20px;
      height: 20px;
      width: 20px;
    }

    &.active {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }
}

.user-info {
  cursor: default;
  font-weight: 500;
}
