name: CI

on: [ push ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Get the sources
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x
      - name: Build OpenCertServer
        run: dotnet build opencertserver.slnx -c Release
      - name: Test OpenCertServer
        run: dotnet test opencertserver.slnx -c Release
